body{
    font-family: Roboto,sans-serif;
}

.navbar .container{
    max-width: fit-content;
}

.navbar img{
    max-height: 72px;
}

.carousel-item img{
    width: 100%;
}

#cabecalho .nav .nav-link, 
.navbar-brand,
.navbar-brand:hover,
.nav-link:hover {
    color: rgb(162, 255, 0);
}

#cabecalho .nav .nav-link.active,
#edgerunners .nav .nav-link.active,
#mais .nav .nav-link.active,
.yellow-black{
    background-color: #fcee0a;
    color: black;
}

.yellow-black{
    background-color: #fcee0a;
    color: black;
}

.back-yellow{
    background-color: #fcee0a;
}

.back-black{
    background-color: black;
}

.section-title{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.text-colored-1{
    color: rgb(0, 4, 255);
}

.text-colored{
    color: rgb(162, 255, 0);
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}